.dark-mode {
    background: black;
    color: white;
}

footer {
    margin: 3em 0 3em 0;
}

h1, h2 {
    text-align: center;
}

h3 {
    margin-top: 3em;
}

p {
    text-indent: 2em;
}

a {
    text-decoration: none;
    color: rgb(120, 150, 255);
}

a:hover {
    text-decoration: underline;
}

li {
    margin: 0.4em;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    background: red;
    height: auto;
    align-items: center;
}

.menu>li {
    margin: 1em;
}

.menu-li>a {
    text-decoration: none;
    color: white;
}

.menu-li>a:hover {
    text-decoration: underline;
}

.about-photo {
  text-align: center;
  margin-top: 3em;
}

.about-photo>img {
  max-width: 600px;
  width: 100%;
  border-radius: 1em;
  box-shadow: 0 0 3em rgba(255, 200, 100, 0.3);
}
