<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nguyen Nguyen">
    <meta name="description" content="Portfolio page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<header>
    <h1>Welcome to my portfolio page</h1>
    <nav>
        <ul class="menu">
            <li class="menu-li"><a href="/">About</a></li>
            <li class="menu-li"><a href="/experience">Experience</a></li>
            <li class="menu-li"><a href="/skill">Skill</a></li>
            <li class="menu-li"><a href="/education">Education</a></li>
            <li class="menu-li"><a href="/project">Project</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>What I've learned</h2>
    <h3>
        developing
    </h3>
</main>

<footer>
    <hr>
    <p>by: Nguyen Nguyen</p>
    <p>nguyennta@icloud.com</p>
    <p>(+84) 77 777 5995</p>
</footer>
</body>

</html>