<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nguyen Nguyen">
    <meta name="description" content="Portfolio page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<header>
    <h1>Welcome to my portfolio page</h1>
    <nav>
        <ul class="menu">
            <li class="menu-li"><a href="{{ url_for('about') }}">About</a></li>
            <li class="menu-li">
                <a href="{{ url_for('experience') }}">Experience</a>
            </li>
            <li class="menu-li"><a href="{{ url_for('skill') }}">Skill</a></li>
            <li class="menu-li">
                <a href="{{ url_for('education') }}">Education</a>
            </li>
            <li class="menu-li"><a href="{{ url_for('project') }}">Project</a></li>
        </ul>
    </nav>
</header>

<main>
    <a href="{{ url_for('vi.experience') }}">Tiếng Việt</a>
    <h2>My work history</h2>
    Last update: 2025-06

    <h3>Leader Electric Appliance</h3>
    <p><b>Position:</b> R&D Engineer</p>
    <p><i>December 2024 - Present</i></p>
    <ul>
        <li>Assembled and evaluated samples for new part approval.</li>
        <li>
            Managed and tracked new products from the sampling stage (PB - Prototype
            Build, EB - Engineer Build), through testing (both at external labs
            worldwide and at the company’s in-house lab), and into mass production (MP).
        </li>
        <li>Analyzed new parts issues and proposed solutions.</li>
        <li>
            Learned to use TeamCenter PLM for product lifecycle management,
            including creating and updating BOMs (Bill of Materials).
        </li>
    </ul>

    <h3>HQSoft</h3>
    <p><b>Position:</b> AI Engineer</p>
    <p><i>November 2023 - October 2024</i></p>
        <ul>
            <li>
                Built APIs with Git, Flask / Spring Boot, Docker and AWS EC2 / Ubuntu
                server. Projects: Route Optimization, Price Detection, Rapid Territory
                Expansion.
            </li>
            <li>
                Researched, implemented and fine-tuned AI models for OCR - Optical
                Character Recognition task (MMOCR, Tesseract).
            </li>
            <li>
                Performed exploratory data analysis on customer data and applied
                feature engineering & selection techniques.
            </li>
            <li>Built classification model to classify customer.</li>
            <li>
                Developed a frontend interface for model demonstration and client
                presentation.
            </li>
        </ul>
    <p><b>Position:</b> AI Engineer Intern</p>
    <p><i>August 2023 - September 2023</i></p>
        <ul>
            <li>
                Researched and implemented AI models for Object Detection: YOLO,
                EfficientDet (training limited by compute resources).
            </li>
            <li>Handled image data, labeled and drew bounding box.</li>
            <li>Compared image of products on shelf with planogram.</li>
        </ul>

    <h3>Tem 3D Bao Thuong</h3>
    <p><b>Position:</b> Production manager</p>
    <p><i>July 2018 - April 2021</i></p>
    <ul>
        <li>
            Managed operations in a small startup, focusing on hologram label
            production technology.
        </li>
        <li>
            Traveled to China and India to work with suppliers and research
            hologram label techniques.
        </li>
        <li>
            Cooperated with foreign experts to transfer knowledge and train employees
            on production processes.
        </li>
    </ul>

    <h3>Thiet Moc Lan</h3>
    <p><b>Position:</b> Production manager & Graphic Designer</p>
    <p><i>November 2009 - June 2018</i></p>
    <ul>
        <li>
            Implemented production planning and monitored production process, ensured
            adherence to production schedules and arranged overtime when necessary.
        </li>
        <li>
            Managed a team of ~20 employees (planning, printing and after-printing
            operations, QC).
        </li>
        <li>Solved business issues, organized meetings.</li>
        <li>Investigated the cause of defective goods, provided solutions to avoid.</li>
        <li>
            Collaborated with foreign experts to learn and train employees new
            technology and machines.
        </li>
        <li>Prepared proof prints and files for printing.</li>
        <li>Created and modified design files base on customer’s ideas.</li>
    </ul>
</main>

<footer>
    <hr>
    <p>by: Nguyen Nguyen</p>
    <p>nguyennta@icloud.com</p>
    <p>(+84) 77 777 5995</p>
</footer>
</body>

</html>