<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nguyen Nguyen">
    <meta name="description" content="Portfolio page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<header>
    <h1>Experience</h1>
    <nav>
        <ul class="menu">
            <li class="menu-li"><a href="/">About</a></li>
            <li class="menu-li"><a href="/experience">Experience</a></li>
            <li class="menu-li"><a href="/skill">Skill</a></li>
            <li class="menu-li"><a href="/education">Education</a></li>
            <li class="menu-li"><a href="/project">Project</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>My work history.</h2>
    <h3>Leader Electric Appliance</h3>
    <p>
        From: 2024-12
        <br>
        To: present
        <br>
        Position: R&D Engineer
    </p>
    <ul>
        <li>Assembled samples to approve new parts.</li>
        <li>Tracked new product from sample through test processes to production line.</li>
        <li>Analyzed new parts issues and proposed solutions.</li>
    </ul>
    <h3>HQSoft</h3>
    <p>
        From: 2023-08
        <br>
        To: 2024-10
    </p>
    <ul>
        <li>
            Position: AI Engineer
            <ul>
                <li>Built API with Git, Flask / Spring Boot, Docker and AWS EC2 / Ubuntu server.</li>
                <li>Researched, implemented and fine tuned AI models for OCR task.</li>
                <li>Explored customer data and applied feature engineering, feature selection.</li>
                <li>-Built classification model to classify customer.</li>
                <li>Built simple frontend interface for demo.</li>
            </ul>
        </li>
        <li>
            Position: AI Engineer Intern (2 months)
            <ul>
                <li>Researched and implemented AI models for object detection.</li>
                <li>Handled image data, labeled and drew bounding box.</li>
                <li>Compared image of products on shelf with planogram.</li>
            </ul>
        </li>
    </ul>
    <h3>Tem 3D Bao Thuong</h3>
    <p>
        From: developing
        <br>
        To: developing
    </p>
    <ul>
        <li>
            developing
        </li>
    </ul>
</main>

<footer>
    <br>
    <hr>
    <p>by: Nguyen Nguyen</p>
    <p>nguyennta@icloud.com</p>
    <p>(+84) 77 777 5995</p>
    <br>
</footer>
</body>

</html>