<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nguyen Nguyen">
    <meta name="description" content="Portfolio page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<header>
    <h1>Welcome to my portfolio page</h1>
    <nav>
        <ul class="menu">
            <li class="menu-li"><a href="/">About</a></li>
            <li class="menu-li"><a href="/experience">Experience</a></li>
            <li class="menu-li"><a href="/skill">Skill</a></li>
            <li class="menu-li"><a href="/education">Education</a></li>
            <li class="menu-li"><a href="/project">Project</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>My work history</h2>
    Last update: 2025-06
    <h3>Leader Electric Appliance</h3>
    <p>Position: R&D Engineer</p>
    <p>December 2024 - Present</p>
    <ul>
        <li>Assembled samples to approve new parts.</li>
        <li>Tracked new product from sample through test processes to production line.</li>
        <li>Analyzed new parts issues and proposed solutions.</li>
    </ul>
    <h3>HQSoft</h3>
    <p>Position: AI Engineer</p>
    <p>November 2023 - October 2024</p>
        <ul>
            <li>Built API with Git, Flask / Spring Boot, Docker and AWS EC2 / Ubuntu server.</li>
            <li>Researched, implemented and fine-tuned AI models for OCR task.</li>
            <li>Explored customer data and applied feature engineering, feature selection.</li>
            <li>Built classification model to classify customer.</li>
            <li>Built simple frontend interface for demo.</li>
        </ul>
    <p>Position: AI Engineer Intern</p>
    <p>August 2023 - September 2023</p>
        <ul>
            <li>Researched and implemented AI models for object detection.</li>
            <li>Handled image data, labeled and drew bounding box.</li>
            <li>Compared image of products on shelf with planogram.</li>
        </ul>
    <h3>Tem 3D Bao Thuong</h3>
    <p>Position: Production manager</p>
    <p>July 2018 - April 2021</p>
    <ul>
        <li>Went to China and India to meet suppliers, researched the hologram label technology.</li>
        <li>
            Cooperated with foreign experts to study & train employees on hologram label production.
        </li>
    </ul>
    <h3>Thiet Moc Lan</h3>
    <p>Position: Production manager & Graphic Designer</p>
    <p>November 2009 - June 2018</p>
    <ul>
        <li>Prepared proof prints and files for printing.</li>
        <li>Created and modified design files base on customer’s ideas.</li>
        <li>
            Implemented production planning and monitored production process, ensure the production
            schedule, arranged overtime if necessary.
        </li>
        <li>Solved business issues, organized meetings.</li>
        <li>Investigated the cause of defective goods, provided solutions to avoid.</li>
        <li>
            Collaborated with foreign experts to learn and train employees new technology and machines.
        </li>
    </ul>
</main>

<footer>
    <hr>
    <p>by: Nguyen Nguyen</p>
    <p>nguyennta@icloud.com</p>
    <p>(+84) 77 777 5995</p>
</footer>
</body>

</html>