<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nguyen Nguyen">
    <meta name="description" content="Portfolio page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<header>
    <h1>Portfolio</h1>
    <nav>
        <ul class="menu">
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Welcome to my portfolio page. I'm Nguyen Nguyen. My fullname is Nguyen The Anh Nguyen.</h2>
    <h3>About me:</h3>
    <p>Starting as a graphic designer, advancing to production manager, and shifting career to software development after the COVID pandemic.
Specializing in machine learning, proficient in leveraging Python with Flask for deploying AI models and utilizing Java with Spring Boot for other backend operations.
Excelling in production planning, monitoring production processes. Possessing a keen eye for detail, and adept at investigating the root causes of defective goods.
Proficient in utilizing Corel, Photoshop, and Illustrator to prepare files for printing.</p>
    <h3>What I am looking for:</h3>
    <p>Developing ...</p>
</main>

<footer>
    <br>
    <hr>
    <p>by: Nguyen Nguyen</p>
    <p>nguyennta@icloud.com</p>
    <p>+84 77 777 5995</p>
    <br>
</footer>
</body>

</html>